.container {
  width: 100%;
  max-width: 1800px;
  padding: 0 100px;
  margin: 0 auto
}

.container.small {
  max-width: 1400px
}

@media(max-width: 1200px) {
  .container {
      padding:0 40px
  }
}

@media(max-width: 1040px) {
  .container {
      padding:0 20px
  }
}

.fn_cs_news .bottom_part {
  display: flex;
  -ms-align-items: center;
  align-items: center
}

.fn_cs_news .bottom_part .left_bot,.fn_cs_news .bottom_part .right_bot,.fn_cs_news .left_items,.metaportal_fn_comments .input-item.half-item {
  width: 50%
}

.fn_cs_news .bottom_part p {
  margin: 0;
  padding: 0 40px
}

.fn_cs_news .news_part {
  display: flex;
  margin-bottom: 40px
}

.fn_cs_news .bottom_part,.fn_cs_news .news_part {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  column-gap: 40px
}

.fn_cs_news .right_items,.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex
}

.fn_cs_news .right_items {
  display: flex;
  gap: 40px;
  width: 50%;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column
}

.fn_cs_news .left_items .blog__item,.metaportal_fn_mint_top .mint_left .img,.metaportal_fn_mint_top .mint_left .img_in,.metaportal_fn_result_box .result_item a:hover:before {
  height: 100%
}

.fn_cs_news .right_items .blog__item {
  height: 33.3333%
}

.fn_cs_news .bottom_part .left_bot,.fn_cs_news .bottom_part .right_bot,.fn_cs_news .left_items,.metaportal_fn_comments .input-item.half-item {
  width: 50%
}

.fn_cs_news .left_items .blog__item,.metaportal_fn_mint_top .mint_left .img,.metaportal_fn_mint_top .mint_left .img_in,.metaportal_fn_result_box .result_item a:hover:before {
  height: 100%
}

#fun_facts,.blog__item,.fn_cs_about .left_part .bg_overlay,.fn_cs_steps .item,.fn_cs_video img,.metaportal_fn_mintbox {
  box-shadow: 0 5px 20px rgba(0,0,0,.25)
}

.blog__item .counter .cc:before,.fn_cs_collection .item_in:after,.fn_cs_section_divider span:after {
  position: absolute;
  color: var(--mc1);
  opacity: .15;
  content: '';
  box-shadow: 0 5px 20px
}

.blog__item {
  padding: 40px;
  border: 1px solid rgba(255,255,255,.15);
  border-radius: 10px
}

.blog__item .image {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 27px
}

.blog__item .counter,.fn_cs_faq .fn__maintitle,.fn_cs_shortabout .fn__maintitle,.metaportal_fn_similar .fn__maintitle {
  margin-bottom: 15px
}

.blog__item .counter .cc {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  text-align: center;
  line-height: 50px;
  letter-spacing: 2px;
  font-size: 16px;
  font-family: var(--hff)
}

.blog__item .counter .cc span {
  margin-right: -2px;
  margin-top: 1px
}

.blog__item .counter .cc:before {
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  border-radius: 100%
}

.blog__item .counter .cc:after,.empty_notice:after,.returnmessage:after {
  content: "";
  position: absolute;
  bottom: 0;
  background: -moz-linear-gradient(bottom left,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  background: -webkit-linear-gradient(bottom left,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  background: -o-linear-gradient(bottom left,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
  left: 0;
  top: 0;
  right: 0
}

.blog__item .counter .cc:after {
  border-radius: 100%;
  border: 3px solid transparent;
  background: linear-gradient(to top right,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  -webkit-mask-composite: destination-out;
  -webkit-mask-composite: source-out;
  mask-composite: exclude;
  background-size: 300% 300%;
  -webkit-animation: 4s infinite alternate animatedgradient;
  animation: 4s infinite alternate animatedgradient
}

.blog__item .meta {
  margin-bottom: 7px
}

.blog__item .meta p {
  margin: 0
}

.blog__item .title,.fn_cs_collection_info .fn__maintitle,.metaportal_fn_comments .comment,.metaportal_fn_mint_top .fn__maintitle {
  margin-bottom: 30px
}

.blog__item .title h3 {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0
}

.blog__item .read_more a,.fn_cs_contact_info h4 {
  font-weight: 500;
  color: var(--bc);
  text-transform: uppercase
}

.blog__item .read_more a {
  text-decoration: none;
  font-family: var(--hff);
  font-size: 16px;
  letter-spacing: .5px;
  padding-left: 100px;
  position: relative
}

.blog__item .read_more a:after {
  left: 0;
  width: 100px;
  height: 1px;
  content: '';
  position: absolute;
  top: 50%;
  background-color: #8d898e;
  transition: .3s
}

.blog__item .read_more span {
  opacity: 0;
  transition: opacity .3s,transform .3s;
  display: inline-block
}

.blog__item:hover .read_more a:after {
  width: 50px
}

.blog__item:hover .read_more span {
  opacity: 1;
  transform: translateX(-30px)
}

.blog__item .read_more a:hover,.footer p a:hover,.metaportal_fn_breadcrumbs a:hover,.metaportal_fn_leftnav .copyright a:hover,.metaportal_fn_leftnav .social_icons a:hover,.metaportal_fn_mintbox .mint_desc p a:hover,.metaportal_fn_pagetitle p a:hover,.metaportal_fn_pnb .item:hover .fn_title,.metaportal_fn_result_box .clear_all:hover,.qnt .decrease:hover,.qnt .increase:hover {
  color: var(--mc1)
}






