.container {
  width: 100%;
  max-width: 1800px;
  padding: 0 100px;
  margin: 0 auto;
}

@media(max-width: 1200px) {
  .container {
    padding: 0 40px
  }
}

@media(max-width: 1040px) {
  .container {
    padding: 0 20px
  }
}

.contact_form ul {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 0 0 0 -40px;
  flex-wrap: wrap;

}

.contact_form li {
  padding-left: 40px;
  margin-bottom: 40px;
  width: 50%;
}

.contact_form input[type=text] {
  height: 80px;
  padding: 0 27px;
}

.contact_form input[type=text],
.contact_form textarea {
  display: block;
  width: 100%;
  min-width: 100%;
  border: 2px solid rgba(255, 255, 255, .15);
  border-radius: 5px;
  background-color: transparent !important;
  outline: 0;
  color: #fff;
}

textarea {
  padding: 13px 15px;
  height: 250px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, .15);
  font-size: 16px;
  letter-spacing: 0;
}

.contact_form .input:focus,
.contact_form textarea:focus {
  border-color: var(--mc1);

}

.contact_form li.full {
  width: 100%;

}

@media(max-width: 1400px){
  .contact_form li{
    padding-left: 20px;
    margin-bottom: 20px;
  }

  .contact_form ul{
    margin-left: -20px;

  }
}

.squirtle_button{
  display: block;
  width: fit-content;
  max-width: 100%;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: .5px;
  font-family: var(--hff);
  height: 50px;
  line-height: 50px;
  padding: 0 34px;
  position: relative;
  color: var(--hc);
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  outline: transparent 0;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, .15);

}

.squirtle_button.full{
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.squirtle_button:hover{
  color: #fff;
}

.squirtle_button:hover:after{
  animation-duration: 2s;
}

.squirtle_button:after{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 6px;
  border: 3px solid transparent;
  background: -moz-linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  background: -webkit-linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  background: linear-gradient(45deg,var(--mc1),var(--mc2),var(--mc1),var(--mc2)) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box,linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  -webkit-mask-composite: source-out;
  mask-composite: exclude;
  background-size: 300% 300%;
  -webkit-animation: 4s infinite alternate animatedgradient;
  animation: 4s infinite alternate animatedgradient;

}

.squirtle_button:before{
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  position: absolute;
  color: var(--mc1);
  content: '';
  opacity: .15;
  border-radius: 6px;
  box-shadow: 0 5px 20px

}

@media(max-width: 480px){
  .container{
    padding: 0 10px;
  }
}