#contact {
  padding: 144px 0 150px;
}

.contact {
  list-style-type: none;
  margin: 0 0 0 -40px;
  flex-wrap: wrap;

}

.contact input[type="text"],
.contact textarea {
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  background-color: transparent !important;
  outline: 0;
  color: #fff;
}

.contact input[type="text"]:focus,
.contact textarea:focus {
  border-color: var(--mc1);
}

.contact [input_list] {

}

