/* main styles */
:root {
    --mc1: #cc00ff;
    --mc2: #7000ff;
    --hc: #ddd;
    --bc: #9ba0b8;
    --hff: 'Heebo',sans-serif;
    --bff: 'Roboto', sans-serif;
  }

  *,:after,:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
  
  body {
    font-family: var(--bff);
    font-size: 18px;
    line-height: 1.44;
    font-weight: 400;
    color: var(--bc);
    position: relative;
    word-break: break-word;
    background: #1b121d;
    background: -moz-linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    background: -webkit-linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    background: linear-gradient(90deg,#1b121d 0,#120f2f 50%,#1b121d 100%);
    height: auto;
    text-align: center; 
  }
  
  body,html {
    width: 100%;
    margin: 0;
    padding: 0
  }
  
  body:after {
    content: '';
    top: 42.8%;
    right: 25%;
    background-color: var(--mc2);
    -webkit-filter: blur(150px);
    -o-filter: blur(150px);
    filter: blur(150px)
  }
  
  body:before {
    content: '';
    top: 27.5%;
    left: 23.9%;
    background-color: var(--mc1);
    -webkit-filter: blur(150px);
    -o-filter: blur(150px);
    filter: blur(150px)
  }

  body:after,body:before {
    width: 270px;
    height: 270px;
    border-radius: 100%;
    position: fixed
  }

  /* Link Styles */

a {
    text-decoration: none;
    color: #fff;
  }
  a:hover {
    color: #6633ff;
  }
  
  /* Section Styles */
  
  .main-nav {
    width: 100%;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  .nav .name {
    display: none;
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all .5s;
  }
  .nav a:hover {
    color: white
  }

  header {
    text-align: center;
    background: url("../images/portland.jpg")no-repeat bottom center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
  }
  header {
    line-height: 1.5;
  }
  header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
  }
  header .profile-image:hover {
    transform: scale(2.5) rotate(360deg);
  }
  .tag {
    background-color: #000;
    color: #bf40bf;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  } 
  .location {
    background-color: #000;
    color: #bf40bf;
  }
  
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  footer .copyright {
    top: -8px;
    margin-right: 20px;
    font-size: .75em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .5;
    transition: all .25s;
  }
  
  a.linkedin {
    background-image: url(../images/linkedin.svg);
  }
  a.github {
    background-image: url(../images/github.svg);
  }
  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }
  
  /* Styles for larger screens */
  @media screen and (min-width: 720px) {
    
    .flex {
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        margin: 0 auto;
    }
  
    header {
      min-height: 450px;
    }
  
    .nav {
      max-width: 1200px;
    }
  
    .nav .name {
      display: block;
      margin-right: auto;
      color: white;
    }
  
    main {
      padding-top: 50px;
    }
  
    main p {
      line-height: 1.6em;
    }
  
    footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
    }
  
  }
  
  